#   Insights STARS WARS - Teste Prático Globo

In [2]:
import duckdb
duckdb_conn = duckdb.connect(database=":memory:", read_only=False)

df_films = duckdb_conn.from_parquet("./parquet/films_data.parquet").to_df()
df_people = duckdb_conn.from_parquet("./parquet/people_data.parquet").to_df()
df_films = duckdb_conn.from_parquet("./parquet/films_data.parquet").to_df()
df_starships = duckdb_conn.from_parquet("./parquet/starships_data.parquet").to_df()
df_vehicles = duckdb_conn.from_parquet("./parquet/vehicles_data.parquet").to_df()
df_planets = duckdb_conn.from_parquet("./parquet/planets_data.parquet").to_df()
df_species = duckdb_conn.from_parquet("./parquet/species_data.parquet").to_df()

## Naves mais poderosas

In [10]:
query = """
SELECT 
  name,
  CAST (population as int64) as population
FROM 
  df_planets
WHERE
population <> 'unknown'
ORDER BY 
  population DESC
LIMIT 10;

"""
result = duckdb_conn.execute(query)
result.df()

          name     population
0    Coruscant  1000000000000
1        Skako   500000000000
2     Geonosis   100000000000
3     Mon Cala    27000000000
4       Eriadu    22000000000
5      Sullust    18500000000
6    Nal Hutta     7000000000
7   Muunilinst     5000000000
8        Naboo     4500000000
9  Ord Mantell     4000000000

## Os diferentes tipos de clima

In [19]:

query = """
SELECT 
  climate,
  COUNT(*) AS count
FROM 
  df_planets
WHERE climate not in ('None', 'unknown')  
GROUP BY 
  climate
ORDER BY 
  count DESC;
"""
result = duckdb_conn.execute(query)
result.df()

                      climate  count
0                   temperate     23
1                         hot      3
2                        arid      3
3                      frigid      2
4   arid, temperate, tropical      2
5      temperate, arid, windy      1
6            temperate, artic      1
7         tropical, temperate      1
8         temperate, tropical      1
9                    polluted      1
10  temperate, arid, subartic      1
11                   tropical      1
12      artificial temperate       1
13                      murky      1
14           temperate, moist      1
15                superheated      1
16         arid, rocky, windy      1
17                     frozen      1
18            temperate, arid      1
19                 hot, humid      1

## Tamanho dos planeta

In [30]:
query = """
SELECT 
  name as Nome,
  CAST(diameter AS int64) AS Diametro
FROM 
  df_planets
WHERE diameter not in ('None', 'unknown')  
ORDER BY 
  diameter DESC
LIMIT 10;


"""
result = duckdb_conn.execute(query)
result.df()

         Nome  Diametro
0   Dantooine      9830
1     Felucia      9100
2     Dagobah      8900
3    Toydaria      7900
4       Rodia      7549
5        Hoth      7200
6  Bestine IV      6400
7       Endor      4900
8    Mustafar      4200
9      Kamino     19720

## Filmes em que os planetas aparecerem

In [42]:
query = """
SELECT 
    p.name AS Planeta,
    f.title AS Filme
FROM df_planets as p
JOIN df_films as f
on ARRAY_CONTAINS(p.films, f.url)
WHERE p.name not in ('None', 'unknown') 
"""
result = duckdb_conn.execute(query)
result.df()

           Planeta                    Filme
0         Tatooine               A New Hope
1         Alderaan               A New Hope
2         Yavin IV               A New Hope
3             Hoth  The Empire Strikes Back
4          Dagobah  The Empire Strikes Back
5           Bespin  The Empire Strikes Back
6      Ord Mantell  The Empire Strikes Back
7         Tatooine       Return of the Jedi
8          Dagobah       Return of the Jedi
9            Endor       Return of the Jedi
10           Naboo       Return of the Jedi
11       Coruscant       Return of the Jedi
12        Tatooine       The Phantom Menace
13           Naboo       The Phantom Menace
14       Coruscant       The Phantom Menace
15        Tatooine     Attack of the Clones
16           Naboo     Attack of the Clones
17       Coruscant     Attack of the Clones
18          Kamino     Attack of the Clones
19        Geonosis     Attack of the Clones
20        Tatooine      Revenge of the Sith
21        Alderaan      Revenge of the Sith
22         Dagobah      Revenge of the Sith
23           Naboo      Revenge of the Sith
24       Coruscant      Revenge of the Sith
25          Utapau      Revenge of the Sith
26        Mustafar      Revenge of the Sith
27        Kashyyyk      Revenge of the Sith
28     Polis Massa      Revenge of the Sith
29         Mygeeto      Revenge of the Sith
30         Felucia      Revenge of the Sith
31  Cato Neimoidia      Revenge of the Sith
32       Saleucami      Revenge of the Sith

## Quem mora nos planetas

In [72]:
query = """
SELECT p.name AS Nome,
    pl.name AS Planeta
FROM df_people as p
join df_planets as pl
on p.homeworld = pl.url
ORDER BY pl.name
"""
result = duckdb_conn.execute(query)
result.df()

                   Nome      Planeta
0       Raymus Antilles     Alderaan
1   Bail Prestor Organa     Alderaan
2           Leia Organa     Alderaan
3          Ratts Tyerel  Aleen Minor
4                 Lobot       Bespin
..                  ...          ...
77         Arvel Crynyd      unknown
78         Qui-Gon Jinn      unknown
79                IG-88      unknown
80                 Yoda      unknown
81               R4-P17      unknown

[82 rows x 2 columns]

## Temperatura dos planeta

In [79]:
query = """
SELECT 
name as Nome,
climate as Clima,
terrain as Terreno,
surface_water as Agua
FROM df_planets as p
WHERE diameter not in ('None', 'unknown') 
ORDER BY Agua, Clima
"""
result = duckdb_conn.execute(query)
result.df()

,Nome,Clima,Terreno,Agua
0,Polis Massa,artificial temperate,airless asteroid,0
1,Mustafar,hot,"volcanoes, lava rivers, mountains, caves",0
2,Bespin,temperate,gas giant,0
3,Utapau,"temperate, arid, windy","scrublands, savanna, canyons, sinkholes",0.9
4,Tatooine,arid,desert,1
5,Ord Mantell,temperate,"plains, seas, mesas",10
6,Hoth,frozen,"tundra, ice caves, mountain ranges",100
7,Kamino,temperate,ocean,100
8,Mon Cala,temperate,"oceans, reefs, islands",100
9,Naboo,temperate,"grassy hills, swamps, forests, mountains",12
10,Muunilinst,temperate,"plains, forests, hills, mountains",25
11,Alderaan,temperate,"grasslands, mountains",40
12,Chandrila,temperate,"plains, forests",40
13,Sullust,superheated,"mountains, volcanoes, rocky deserts",5
14,Geonosis,"temperate, arid","rock, desert, mountain, barren",5
15,Ryloth,"temperate, arid, subartic","mountains, valleys, deserts, tundra",5
16,Rodia,hot,"jungles, oceans, urban, swamps",60
17,Kashyyyk,tropical,"jungle, forests, lakes, rivers",60
18,Corellia,temperate,"plains, urban, hills, forests",70
19,Dagobah,murky,"swamp, jungles",8
20,Endor,temperate,"forests, mountains, lakes",8
21,Yavin IV,"temperate, tropical","jungle, rainforests",8
22,Glee Anselm,"tropical, temperate","lakes, islands, swamps, seas",80
23,Bestine IV,temperate,"rocky islands, oceans",98
24,Trandosha,arid,"mountains, seas, grasslands, deserts",unknown
25,Socorro,arid,"deserts, mountains",unknown
26,Malastare,"arid, temperate, tropical","swamps, deserts, jungles, mountains",unknown
27,Kalee,"arid, temperate, tropical","rainforests, cliffs, canyons, seas",unknown
28,Mygeeto,frigid,"glaciers, mountains, ice canyons",unknown
29,Saleucami,hot,"caves, desert, mountains, volcanoes",unknown
30,Felucia,"hot, humid",fungus forests,unknown
31,Eriadu,polluted,cityscape,unknown
32,Dantooine,temperate,"oceans, savannas, mountains, grasslands",unknown
33,Stewjon,temperate,grass,unknown
34,Coruscant,temperate,"cityscape, mountains",unknown
35,Toydaria,temperate,"swamps, lakes",unknown
36,Dathomir,temperate,"forests, deserts, savannas",unknown
37,Nal Hutta,temperate,"urban, oceans, swamps, bogs",unknown
38,Haruun Kal,temperate,"toxic cloudsea, plateaus, volcanoes",unknown
39,Dorin,temperate,unknown,unknown
40,Vulpter,"temperate, artic","urban, barren",unknown
41,Cato Neimoidia,"temperate, moist","mountains, fields, forests, rock arches",unknown
42,unknown,unknown,unknown,unknown
43,Tund,unknown,"barren, ash",unknown